

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #1f2937, #111827);
    font-family: "Segoe UI", sans-serif;
}


form {
    background: #ffffff;
    padding: 35px 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 380px;

    box-shadow: 0 6px 22px rgba(0,0,0,0.22);
}

.titulo-login {
    text-align: center;
    color: #111827;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
}


label {
    display: block;
    margin-bottom: 6px;
    color: #374151;
    font-weight: 600;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    background: #f8fafc;
    font-size: 15px;
    margin-bottom: 18px;
    transition: 0.2s;
}

input:focus {
    border-color: #10b981;
    box-shadow: 0 0 0 2px rgba(16, 185, 129, 0.35);
    outline: none;
}


input[type="submit"] {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;

    background: #10b981;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.25s ease;
}

input[type="submit"]:hover {
    background: #059669;
    box-shadow: 0 3px 8px rgba(16,185,129,0.4);
}


@media (max-width: 480px) {
    form {
        max-width: 90%;
        padding: 25px;
    }

    .titulo-login {
        font-size: 22px;
    }
}
